apiVersion: v1
kind: Service
metadata:
  name: {{ include "banking-case-manager.fullname" . | default .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: {{ .Chart.Name }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
